<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thunder.money.mapper.TestGameMapper">
    <resultMap id="BaseResultMap" type="com.thunder.money.entity.TestGame">
        <!--@mbg.generated-->
        <!--@Table test_game-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="like_count" jdbcType="INTEGER" property="likeCount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="edit_time" jdbcType="TIMESTAMP" property="editTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        id, `name`, version, like_count, create_time, edit_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select


        <include refid="Base_Column_List"/>


        from test_game
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from test_game
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.thunder.money.entity.TestGame"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into test_game (`name`, version, like_count,
        create_time, edit_time)
        values (#{name,jdbcType=VARCHAR}, #{version,jdbcType=INTEGER}, #{likeCount,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{editTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.thunder.money.entity.TestGame"
            useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into test_game


        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                `name`,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="likeCount != null">
                like_count,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="editTime != null">
                edit_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                #{version,jdbcType=INTEGER},
            </if>
            <if test="likeCount != null">
                #{likeCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="editTime != null">
                #{editTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.thunder.money.entity.TestGame">
        <!--@mbg.generated-->
        update test_game


        <set>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=INTEGER},
            </if>
            <if test="likeCount != null">
                like_count = #{likeCount,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="editTime != null">
                edit_time = #{editTime,jdbcType=TIMESTAMP},
            </if>
        </set>


        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.thunder.money.entity.TestGame">
        <!--@mbg.generated-->
        update test_game
        set `name` = #{name,jdbcType=VARCHAR},
        version = #{version,jdbcType=INTEGER},
        like_count = #{likeCount,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        edit_time = #{editTime,jdbcType=TIMESTAMP}
        where id = #{id,jdbcType=INTEGER}
    </update>
    <!--auto generated by MybatisCodeHelper on 2020-09-11-->
    <select id="selectAll" resultMap="BaseResultMap">
        select

        <include refid="Base_Column_List"/>


        from test_game
    </select>
    <!--  多条件查询  -->
    <select id="selectAllByTestGameDTO" resultMap="BaseResultMap"
            parameterType="com.thunder.money.entity.DTO.TestGameDTO">
        select
        <include refid="Base_Column_List"/>
        from test_game
        <where>
            1=1
            <if test="id != null">
                and id = #{id,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                and `name` like concat('%', #{name,jdbcType=VARCHAR}, '%')
            </if>
            <if test="version != null">
                and version = #{version,jdbcType=INTEGER}
            </if>
            <if test="minLikeCount != null">
                and like_count >= #{minLikeCount,jdbcType=INTEGER}
            </if>
            <if test="maxLikeCount != null">
                and #{maxLikeCount,jdbcType=INTEGER} >= like_count
            </if>
            <if test="minCreateDate != null">
                and create_time >= #{minCreateDate,jdbcType=TIMESTAMP}
            </if>
            <if test="maxCreateDate != null">
                and #{maxCreateDate,jdbcType=TIMESTAMP} >= create_time
            </if>
        </where>
    </select>
    <!--auto generated by MybatisCodeHelper on 2020-09-11-->
    <select id="selectByAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from test_game
        <where>
            <if test="id != null">
                and id=#{id,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                and `name`=#{name,jdbcType=VARCHAR}
            </if>
            <if test="version != null">
                and version=#{version,jdbcType=INTEGER}
            </if>
            <if test="likeCount != null">
                and like_count=#{likeCount,jdbcType=INTEGER}
            </if>
            <if test="createTime != null">
                and create_time=#{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="editTime != null">
                and edit_time=#{editTime,jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>
    <!--auto generated by MybatisCodeHelper on 2020-09-15-->
    <insert id="insertList" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO test_game(
        id,
        name,
        version,
        like_count,
        create_time,
        edit_time
        )VALUES
        <foreach collection="list" item="element" index="index" separator=",">
            (
            #{element.id,jdbcType=INTEGER},
            #{element.name,jdbcType=VARCHAR},
            #{element.version,jdbcType=INTEGER},
            #{element.likeCount,jdbcType=INTEGER},
            #{element.createTime,jdbcType=TIMESTAMP},
            #{element.editTime,jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>
</mapper>